@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: white;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.renderRoot {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    inset: 0 0 0 0;
}

.app {
    display: flex;
}

.expander {
    user-select: none;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    margin: 0;
    padding: 0.5em;
    cursor: pointer;
    z-index: 20;
}

.expander:not(.expanded) {
    border: 0.2em solid white;
}

.expander span:hover {
    color: rgb(200, 200, 200);
}

.info {
    border-radius: 1em;
    background-color: black;
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.focus-btn {
    cursor: pointer;
}

.info > span {
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

.info > div {
    display: none;
    background-color: white;
    color: black;
    z-index: 2;
    padding: 0.4em;
    user-select: text;
}

.info:hover > div, .info:focus > div {
    display: block;
}

.controls {
    color: white;
    background-color: rgba(10, 10, 10, 50%);
    overflow: scroll;
    user-select: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 100vw;
    width: max-content;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.controls > div {
    padding: 1em;
    width: max-content;
}

.selector {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selector .row {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 10%);
    padding: 0.4em;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.fill {
    width: auto;
    flex-grow: 1;
}

.selector .row span.index:first-child {
    width: 1em;
}

.selector .row:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 10%);
}

.selector .row > * {
    margin-right: 0.2em;
}

span.add, span.del {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.selector span.add {
    width: 100%;
}

span.add:hover {
    color: green;
}

span.del:hover {
    color: red;
}

.hide {
    visibility: hidden;
}

.inline, .inline > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline {
    border-top: 1px solid rgba(255, 255, 255, 10%);
    border-bottom: 1px solid rgba(255, 255, 255, 10%);
    padding: 0.2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inline > * {
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.label {
    position: absolute;
    user-select: none;
    pointer-events: none;
}
