body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Courier monospace;
}

body > * {
    left: 0;
    right: 0;
    width: 100vw;
}

#canvasHolder {
    z-index: 1;
}

header {
    border-bottom: 1px solid white;
    margin: 0;
    padding: 10px;
}

header p {
    margin: 0;
}

header > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    width: calc(100vw - 20px);
}

header #timer {
    margin-right: auto;
}

header > div > * {
    margin: 0 4px;
}

header label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

span.label {
    cursor: pointer;
    position: absolute;
    background-color: black;
    z-index: 9;
}

span.label.focused {
    background-color: green;
    z-index: 10;
}
