@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', monospace, sans-serif;
}

body > * {
    left: 0;
    right: 0;
    width: 100vw;
}

.renderRoot {
    z-index: 1;
    height: 100vh;
    position: fixed;
}

header {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100vw - 20px);
}

header * {
    z-index: 15;
}

header p {
    margin: 0;
}

header > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
}

#timer {
    width: max-content;
    font-size: 130%;
}

header > div > * {
    margin: 0 4px;
}

header label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    font-size: 120%;
}

header label :not(input) {
    margin-right: 6px;
}

span.label {
    position: absolute;
    background-color: black;
    user-select: none;
    z-index: 9;
}

span.label.focused {
    background-color: green;
    z-index: 10;
}

svg.icon {
    border: 1px solid white;
    border-radius: 0.3em;
}

header > div > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

.icon.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.1em;
    padding: 0;
    background-color: darkcyan;
    cursor: pointer;
    user-select: none;
    border: 2px solid white;
    margin: 4px;
}

.icon.button:hover {
    opacity: 90%;
}

.icon.button .label {
    margin: auto;
    padding: 4px;
    text-align: center;
}

.icon.button .holder {
    background-color: black;
    background-clip: border-box;
    background-size: cover;
}

.icon.button .holder svg {
    --size: calc(1em + 6px);
    width: var(--size);
    height: var(--size);
}

.icon.button.checkbox:not(.checked) {
    background-color: red;
}

.icon.button.checkbox.checked {
    background-color: green;
}
