@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', monospace, sans-serif;
}

p {
    margin: 0;
}

.renderRoot {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    pointer-events: none;
    margin: 6px;
}

#timer {
    width: max-content;
    font-size: 130%;
    top: 0;
    left: 0;
}

#controller {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin: 6px;
    font-size: 120%;
}

#speed_slider {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
}

span.label {
    position: absolute;
    background-color: black;
    user-select: none;
    z-index: 9;
}

span.label.focused {
    background-color: green;
    z-index: 10;
}

svg.icon {
    border: 1px solid white;
    border-radius: 0.3em;
}

.clickable {
    pointer-events: auto;
    cursor: pointer;
}

.icon.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.8em;
    background-color: darkcyan;
    user-select: none;
    margin: 8px;
    position: relative;
    z-index: 20;
}

.icon.button:hover {
    opacity: 90%; /* TODO change with color transform */
}

.icon.button .label {
    margin: inherit;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 100%;
    text-align: center;
    display: none;
    background-color: inherit;
    border-radius: inherit;
    position: absolute;
    width: max-content;
    align-items: center;
    height: 100%;
    z-index: 21;
}

.r90 {
    transform: rotate(90deg);
}

.r180 {
    transform: rotate(180deg);
}

.r270 {
    transform: rotate(270deg);
}

.icon.button .holder {
    background-clip: border-box;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 4em;
    padding: 8px;
    z-index: 22;
}

.icon.button .holder:hover + .label {
    display: flex;
}

.icon.button .holder svg {
    --size: calc(1em + 6px);
    width: var(--size);
    height: var(--size);
}

.icon.button.checkbox:not(.checked) {
    background-color: red;
}

.icon.button.checkbox.checked {
    background-color: green;
}
